
  $primary: #020249;
  $secondary: #ccc6c6;

  h1{
    color:white;
    font-family: 'Thasadith', sans-serif;
    font-size: 14px;
    font-weight: 700;

  }

  h2{
    color:white;
    font-family: 'Thasadith', sans-serif;
    font-size: 14px;
    font-weight: 700;

  }

  p{
    color:white;
    font-family: 'Thasadith', sans-serif;
    font-size: 14px;
    font-weight: 700;

  }


  @import url('https://fonts.googleapis.com/css2?family=Thasadith:wght@700&display=swap');
  @import "~bootstrap/scss/bootstrap"; //le mettre à la fin de ce fichier OBLIGATOIREMENT

















